packages

#ignore thumbnails created by windows
Thumbs.db
#ignore files created by osx
**/.DS_Store
#Ignore files build by Visual Studio
**/*.obj
**/obj/
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
ClientBin
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
.vs
